<h1>All the events</h1>
<table>
<tr>
 <th>Name</th>
 <th>Location</th>
 <th>Date</th>
 <th>Description</th>
 <th>Creator</th>
</tr>

<% @events.each do | event | %>
 <tr>
  <td><%= link_to event.name, event_path(event) %></td>
  <td><%= event.location %></td>
  <td><%= event.date %></td>
  <td><%= event.description %></td>
  <td><%= event.creator.name %></td>
  <td><%= link_to "I'll be there", attendees_path(:event_id => event.id), :method => :post %></td> 
</tr>

<% end %>
</table>
<%= link_to 'Create an event', new_event_path %>
