<h1><%= @event.name %></h1>
<p><%= @event.description %></p>
<p>Creator:<%= @event.creator.name %></p>
<p>Location:<%= @event.location %></p>
<p>Date:<%= @event.date %></p>


<% if @attend %>
You are already register for this event
<% else %>
<td><%= link_to "I'll be there", attendees_path(:event_id => @event.id), :method => :post %></td>
<% end %>
<h2>Attendees</h2>
<table>
<tr>
 <th>Name</th>
</tr>

<% @event.invitees.each do | attendee | %>
 <tr>
  <td><%= attendee.name %></td>
 </tr>

<% end %>



</table>
