<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user] %>
 <%= session[:name] %>
  <%= link_to 'Logout', session_path(1),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% else %>
 <%= link_to 'Login', new_session_path %>
<% end %>
    <%= yield %>
  </body>
</html>
